<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Customer" value="인천국제공항공사"/>
    <add key="Title" value="한국항공아카데미(KAA) CBT"/>
    <add key="URL" value="https://kaa.airport.kr:10443/lms/user/loginForm.do?cbt=Y"/>
    <add key="Logo" value=""/>
    <add key="ShowCloseButton" value="false"/>
  </appSettings>
</configuration>